.default-color0{
-fx-background-color: Yellow;
}
.series0{
-fx-background-color: Yellow;
}
.default-color1{
-fx-background-color: Green;
}
.series1{
-fx-background-color: Green;
}
.default-color2{
-fx-background-color: Red;
}
.series2{
-fx-background-color: Red;
}
.default-color3{
-fx-background-color: Yellow;
}
.series3{
-fx-background-color: Yellow;
}
.default-color4{
-fx-background-color: Green;
}
.series4{
-fx-background-color: Green;
}
.default-color5{
-fx-background-color: Orange;
}
.series5{
-fx-background-color: Orange;
}

.chart-symbol {
-fx-shape: "M39 20a19 19 0 1 1-38 0 19 19 0 1 1 38 0z";
-fx-background-insets: 0, 2;
-fx-background-radius: 5px;
-fx-padding: 5px;}
